/*----------------------header--------------------*/
.navbar {
    background:rgb(218,44,56) !important;
    border: none;
}
.navbar a {
    color:#fff !important;
}
.nav li a:hover, .nav li a:focus {
    font-weight: bold !important;
}
.nav li:hover {
    font-size:18px;
    transition:all 0.5s;
}

/*.......................... Section Creamy  */
.creamy{
	background-color:rgb(244,240,187); ;
	padding: 15px;	
}
h3{
	text-align: center;
}
h3,p{
	color: #cf0038;
}

.helado{
	width: 100%;
}
