body {
    font-family: "Merriweather", serif;
}
p, a {
    font-family: "Open Sans", sans-serif;
}
.creamy, .contacto {
    background: rgb(244,240,187);
    color: rgb(218,44,56);
}

/*------------------------------------HEADER */
.navbar {
    background:rgb(218,44,56) !important;
    border: none;
}
.navbar-brand {
    font-family: "Merriweather", serif;
    color:rgb(244,240,187) !important;
    
}
.navbar a {
    color:#fff !important;
}
.nav li a:hover, .nav li a:focus {
    font-weight: bold !important;
}
.nav li:hover {
    font-size:18px;
    transition:all 0.5s;
}
/*------------------------------------- HERO  */
.hero {
    background: url(../img/creamy.jpg) no-repeat center center;
    background-size:cover;
    color:rgb(244,240,187);
}   

.hero .frase{
    padding-top: 170px;
    padding-bottom: 140px;
}
.hero  h1{
    font-size: 50px;
}
.hero p{
    font-size: 14px;
    padding-top: 5px;
    color: white;
}
.degradado{
	height: 100%;
	background-color:rgba(15, 16, 15, 0.71);
}
/*------------------------------------ CREAMY */
.creamy{
	padding: 15px;	
}
h3{
	text-align: center;
}
h3,p{
	color: #cf0038;
}
.helado{
	width: 100%;
}
/*-------------------------------------ABOUT */
.about {
    padding: 60px 0;
    background: rgb(218,44,56);
    color: rgb(244,240,187);
}
.about p {
    color: rgb(244,240,187);
}
/*-------------------------------------CONTACTO*/
.contacto{
    padding: 40px 0 80px 0;
}
.icon-contacto {
    font-size: 100px;
    display: block;
    color: rgb(218,44,56);
}
.contacto h3 {
    margin: 20px 0 20px 0;
}
/* ---------------------------------------FOOTER -- */
footer {
    padding: 10px 0 15px 0;
    background: rgb(218,44,56);
    color: #fff;
}



